certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
idna
importlib_resources
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
nibabel
nilearn
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
requests
scikit-learn
scipy
seaborn
six
sympy
threadpoolctl
torch
typing_extensions
urllib3